<section id="who-we-are" class="section">
  <div class="section-inner">
    <div class="container section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h3 class="main-title">Our Services</h3>

            <h4 class="sub-title">We Are Experts In Developing Your Online Business</h4>

            <span class="section-line"></span>
          </div>
          <!-- //.section-title -->
        </div>
        <!-- //.col-md-12 -->
      </div>    
      <!-- //.row -->

      <div class="row">
        <div class="col-sm-3 col-md-3">
          <div class="funny-boxes float-shadow not-right-column text-center">
            <span class="funny-boxes-icon">
              <i class="fa fa-pencil-square"></i>
            </span>

            <div class="funny-boxes-text animated flipInY delayp1" style="opacity: 1;">
              <p class="behaviour">BUILD A</p>
              <h4>
                PAGE
              </h4>

              <p>
                One landing page that showcases one idea beautifully.
              </p>
            </div>
            <!-- //.funny-boxes-text -->
          </div>
          <!-- //.funny-boxes -->
        </div>
        <!-- //.col-sm-4 col-md-4 -->

        <div class="col-sm-3 col-md-3">
          <div class="funny-boxes float-shadow not-right-column text-center">
            <span class="funny-boxes-icon">
              <i class="fa fa-laptop"></i>
            </span>

            <div class="funny-boxes-text animated flipInY delayp1" style="opacity: 1;">
              <p class="behaviour">BUILD A</p>
              <h4>
                WEBSITE
              </h4>

              <p>
                One website for business and more.
              </p>
            </div>
            <!-- //.funny-boxes-text -->
          </div>
          <!-- //.funny-boxes -->
        </div>
        <!-- //.col-sm-4 col-md-4 -->

        <div class="col-sm-3 col-md-3">
          <div class="funny-boxes float-shadow not-right-column text-center">
            <span class="funny-boxes-icon">
              <i class="fa fa-shopping-cart"></i>
            </span>

            <div class="funny-boxes-text animated flipInY delayp1" style="opacity: 1;">
              <p class="behaviour">BUILD A</p>
              <h4>
                STORE
              </h4>

              <p>
                One store system supports multi-platforms.
              </p>

            </div>
            <!-- //.funny-boxes-text -->
          </div>
          <!-- //.funny-boxes -->
        </div>
        <!-- //.col-sm-4 col-md-4 -->
                    
        <div class="col-sm-3 col-md-3">
          <div class="funny-boxes float-shadow text-center">
            <span class="funny-boxes-icon">
              <i class="fa fa-mobile"></i>
            </span>

            <div class="funny-boxes-text animated flipInY delayp1" style="opacity: 1;">
              <p class="behaviour">BUILD A</p>
              <h4>
                MOBI-APP
              </h4>

              <p>
                One application can realize all of your ideas.
              </p>
            </div>
            <!-- //.funny-boxes-text -->
          </div>
          <!-- //.funny-boxes -->
        </div>
        <!-- //.col-sm-4 col-md-4 -->
      </div>
      <!-- //.row -->
    </div>
    <!-- //.section-content -->
  </div>
  <!-- //.section-inner -->
</section>