<section id="intro">
  <div class="intro-body text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 intro-content">
          <div class="logo">
            <h1>
              <%= image_tag "kiwii_logo.png" %>
            </h1>
          </div>
          <!-- //.logo -->
                        
          <div class="intro-text text-center">
            <h2>KiWii Information</h2>

            <p class="lead">An Optimal Way To Start Your Online Business</p>
          </div>
          <!-- //.intro-text -->

          <div class="page-scroll">
            <a href="#who-we-are" class="btn btn-lg btn-rj">START NOW</a>
          </div>
          <!-- //.page-scroll -->
        </div>
        <!-- //.intro-content -->
      </div>
      <!-- //.row -->
    </div>
    <!-- //.container -->
  </div>
  <!-- //.intro-body -->
</section>