<section id="meet-team" class="section">
  <div class="section-inner">
    <div class="container section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h3 class="main-title">Meet The Team</h3>

            <h4 class="sub-title">We Are Here For You</h4>

            <span class="section-line"></span>
          </div>
          <!-- //.section-title -->
        </div>
        <!-- //.col-md-12 -->
      </div>    
      <!-- //.row -->

      <div class="row">
        <div class="col-sm-6 col-md-3 team-item not-right-column top-column">
          <div class="img-rounded team-element animated fadeInUp" style="opacity: 1;">
            <div class="team-inner">
              <div class="team-detail">
                <div class="team-content">
                  <h4>Terry Tai</h4>

                  <p>CEO / Founder</p>
                </div>
                <!-- //.team-content -->
              </div>
              <!-- //.team-detail -->
            </div>
            <!-- //.team-inner -->

            <%= image_tag "terry.png", class: "img-responsive img-rounded" %>
          </div>
          <!-- //.team-element -->
        </div>
        <!-- //.team-item -->

        <div class="col-sm-6 col-md-3 team-item not-right-column top-column">
          <div class="img-rounded team-element animated fadeInUp" style="opacity: 1;">
            <div class="team-inner">
              <div class="team-detail">
                <div class="team-content">
                  <h4>Zack Yang</h4>

                  <p>CTO / Co-Founder</p>                                
                </div>
                <!-- //.team-content -->
              </div>
              <!-- //.team-detail -->
            </div>
            <!-- //.team-inner -->

            <%= image_tag "zack.png", class: "img-responsive img-rounded" %>
          </div>
          <!-- //.team-element -->
        </div>
        <!-- //.team-item -->

        <div class="col-sm-6 col-md-3 team-item not-right-column">
          <div class="img-rounded team-element animated fadeInUp" style="opacity: 1;">
            <div class="team-inner">
              <div class="team-detail">
                <div class="team-content">
                  <h4>Wen Liu</h4>

                  <p>Creative Director</p>                                
                </div>
                <!-- //.team-content -->
              </div>
              <!-- //.team-detail -->
            </div>
            <!-- //.team-inner -->

            <%= image_tag "wen.png", class: "img-responsive img-rounded" %>
          </div>
          <!-- //.team-element -->
        </div>
        <!-- //.team-item -->

        <div class="col-sm-6 col-md-3 team-item">
          <div class="img-rounded team-element animated fadeInUp" style="opacity: 1;">
            <div class="team-inner">
              <div class="team-detail">
                <div class="team-content">
                  <h4>Aaron Wu</h4>

                  <p>UX Director</p>                                
                </div>
                <!-- //.team-content -->
              </div>
              <!-- //.team-detail -->
            </div>
            <!-- //.team-inner -->

            <%= image_tag "aaron.png", class: "img-responsive img-rounded" %>
          </div>
          <!-- //.team-element -->
        </div>
        <!-- //.team-item -->
      </div>
      <!-- //.row -->
    </div>
    <!-- //.section-content -->
  </div>
  <!-- //.section-inner -->
</section>