<section id="meet-team" class="section">
  <div class="section-inner">
    <div class="container section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h3 class="main-title">Meet The Team</h3>

            <h4 class="sub-title">We Are Here For You</h4>

            <span class="section-line"></span>
          </div>
          <!-- //.section-title -->
        </div>
        <!-- //.col-md-12 -->
      </div>    
      <!-- //.row -->

      <div class="row">
        <div class="col-sm-6 col-md-3 team-item not-right-column top-column">
          <div class="img-rounded team-element animated fadeInUp" style="opacity: 1;">
            <div class="team-inner">
              <div class="team-detail">
                <div class="team-content">
                  <h4>Nick Carraway</h4>

                  <p>ECD / Founder</p>
                </div>
                <!-- //.team-content -->
              </div>
              <!-- //.team-detail -->
            </div>
            <!-- //.team-inner -->

            <img src="assets/img/meet-the-team-image-1.jpg" alt="" class="img-responsive img-rounded">
          </div>
          <!-- //.team-element -->
        </div>
        <!-- //.team-item -->

        <div class="col-sm-6 col-md-3 team-item not-right-column top-column">
          <div class="img-rounded team-element animated fadeInUp" style="opacity: 1;">
            <div class="team-inner">
              <div class="team-detail">
                <div class="team-content">
                  <h4>Daisy Buchanan</h4>

                  <p>CEO / Co-Founder</p>                                
                </div>
                <!-- //.team-content -->
              </div>
              <!-- //.team-detail -->
            </div>
            <!-- //.team-inner -->

            <img src="assets/img/meet-the-team-image-2.jpg" alt="" class="img-responsive img-rounded">
          </div>
          <!-- //.team-element -->
        </div>
        <!-- //.team-item -->

        <div class="col-sm-6 col-md-3 team-item not-right-column">
          <div class="img-rounded team-element animated fadeInUp" style="opacity: 1;">
            <div class="team-inner">
              <div class="team-detail">
                <div class="team-content">
                  <h4>Myrtle Wilson</h4>

                  <p>Creative Director</p>                                
                </div>
                <!-- //.team-content -->
              </div>
              <!-- //.team-detail -->
            </div>
            <!-- //.team-inner -->

            <img src="assets/img/meet-the-team-image-3.jpg" alt="" class="img-responsive img-rounded">
          </div>
          <!-- //.team-element -->
        </div>
        <!-- //.team-item -->

        <div class="col-sm-6 col-md-3 team-item">
          <div class="img-rounded team-element animated fadeInUp" style="opacity: 1;">
            <div class="team-inner">
              <div class="team-detail">
                <div class="team-content">
                  <h4>Catherine</h4>

                  <p>Public Relation</p>                                
                </div>
                <!-- //.team-content -->
              </div>
              <!-- //.team-detail -->
            </div>
            <!-- //.team-inner -->

            <img src="assets/img/meet-the-team-image-4.jpg" alt="" class="img-responsive img-rounded">
          </div>
          <!-- //.team-element -->
        </div>
        <!-- //.team-item -->
      </div>
      <!-- //.row -->
    </div>
    <!-- //.section-content -->
  </div>
  <!-- //.section-inner -->
</section>