<section id="our-process" class="section section-bgimage-yes">
  <div class="section-inner">
    <div class="section-overlay"></div>
            
    <div class="container section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h2 class="main-title">Our Process</h2>

            <h3 class="sub-title">Build Your Owne Website/Application within 3 Steps</h3>

            <span class="section-line"></span>
          </div>
          <!-- //.section-title -->
        </div>
        <!-- //.col-md-12 -->
      </div>
      <!-- //.row -->
      <div class="row">
        <div class="col-sm-2 col-md-2"></div>
        <div class="col-sm-3 col-md-3">
          <div class="content-boxes style-two top-column clearfix animated flipInY delayp1" style="opacity: 1;">
            <span class="content-boxes-icon">
              <i class="fa fa-clipboard"></i> 
            </span>
                            
            <div class="content-boxes-text">
              <h4>PLAN
              </h4>
                                
              <ul>
                <li>Client interview</li>
                <li>Gather consumer data</li>
                <li>Create content strategy</li>
                <li>Analyze research</li>
              </ul>
            </div>
            <!-- //.content-boxes-text -->
          </div>
          <!-- //.content-boxes -->
        </div>
        <!-- //.col-sm-4 col-md-4 -->

        <div class="col-sm-3 col-md-3">
          <div class="content-boxes style-two top-column clearfix animated flipInY delayp1" style="opacity: 1;">
            <span class="content-boxes-icon">
              <i class="fa fa-keyboard-o"></i> 
            </span>
                            
            <div class="content-boxes-text">
              <h4>
                Create
              </h4>
                                
              <ul>
                <li>Build wireframe</li>
                <li>Gather client feedback</li>
                <li>Code development</li>
                <li>Testing</li>
                <li>Customer feedback</li>
              </ul>
            </div>
            <!-- //.content-boxes-text -->
          </div>
          <!-- //.content-boxes -->
        </div>
        <!-- //.col-sm-4 col-md-4 -->

        <div class="col-sm-3 col-md-3">
          <div class="content-boxes style-two top-column clearfix animated flipInY delayp1" style="opacity: 1;">
            <span class="content-boxes-icon">
              <i class="fa fa-rocket"></i> 
            </span>
                            
            <div class="content-boxes-text">
              <h4>
                LAUNCH
              </h4>
                                
              <ul>
                <li>Deploy website/Apps</li>
                <li>Market product launch</li>
                <li>Preformance Tracking</li>
                <li>Websites SEO</li>
              </ul>
            </div>
            <!-- //.content-boxes-text -->
          </div>
          <!-- //.content-boxes -->
        </div>
        <!-- //.col-sm-4 col-md-4 -->
        <div class="col-sm-2 col-md-2"></div>
      </div>                    
      <!-- //.row -->
    </div>
    <!-- //.section-content -->
  </div>
  <!-- //.section-inner -->
</section>