<!-- Begin Testimonials Section -->
<section id="testimonials" class="section section-bgimage-yes">
  <div class="section-inner">
    <div class="section-overlay"></div>
            
    <div class="container section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h2 class="main-title">Testimonials</h2>

            <h3 class="sub-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h3>

            <span class="section-line"></span>
          </div>
          <!-- //.section-title -->
        </div>
        <!-- //.col-md-12 -->
      </div>
      <!-- //.row -->

      <div id="carousel-testimonials" class="owl-carousel owl-theme">
        <div class="item">
          <div class="row">
            <div class="col-md-4">
              <div class="testimonial-item not-right-column not-bottom-column">
                <div class="testimonial-content">
                  <p class="testimonial-title">Lorem Ipsum Title</p>

                  <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                  </blockquote>
                </div>
                <!-- //.testimonial-content -->

                <div class="testimonial-info clearfix">
                  <img width="100" src="assets/img/testimonial-image-1.jpg" alt="" class="img-circle img-thumbnail"/>

                  <p class="testimonial-author">
                    @Jane Doe, Jakarta
                    <br>
                    <em>Co-Founder at Cisco</em>
                  </p>
                </div>
                <!-- //.testimonial-info -->
              </div>
              <!-- //.testimonial-item -->
            </div>
            <!-- //.col-md-4 -->

            <div class="col-md-4">
              <div class="testimonial-item not-right-column not-bottom-column">
                <div class="testimonial-content">
                  <p class="testimonial-title">Lorem Ipsum Title</p>

                  <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                  </blockquote>
                </div>
                <!-- //.testimonial-content -->

                <div class="testimonial-info clearfix">
                  <img width="100" src="assets/img/testimonial-image-2.jpg" alt="" class="img-circle img-thumbnail"/>

                  <p class="testimonial-author">
                    @John Doe, Jakarta
                    <br>
                    <em>Creative Director at Apple</em>
                  </p>
                </div>
                <!-- //.testimonial-info -->
              </div>
              <!-- //.testimonial-item -->
            </div>
            <!-- //.col-md-4 -->

            <div class="col-md-4">
              <div class="testimonial-item not-bottom-column">
                <div class="testimonial-content">
                  <p class="testimonial-title">Lorem Ipsum Title</p>

                  <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                  </blockquote>
                </div>
                <!-- //.testimonial-content -->

                <div class="testimonial-info clearfix">
                  <img width="100" src="assets/img/testimonial-image-3.jpg" alt="" class="img-circle img-thumbnail"/>

                  <p class="testimonial-author">
                    @John Doe, Jakarta
                    <br>
                    <em>Managet at Microsoft</em>
                  </p>
                </div>
                <!-- //.testimonial-info -->
              </div>
              <!-- //.testimonial-item -->
            </div>
            <!-- //.col-md-4 -->
          </div>
          <!-- //.row -->
        </div>
        <!-- //.item -->
                    
        <div class="item">
          <div class="row">
            <div class="col-md-4">
              <div class="testimonial-item not-right-column">
                <div class="testimonial-content">
                  <p class="testimonial-title">Lorem Ipsum Title</p>

                  <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                  </blockquote>
                </div>
                <!-- //.testimonial-content -->

                <div class="testimonial-info clearfix">
                  <img width="100" src="assets/img/testimonial-image-4.jpg" alt="" class="img-circle img-thumbnail"/>

                  <p class="testimonial-author">
                    @John Doe, Jakarta
                    <br>
                    <em>Co-Founder at Cisco</em>
                  </p>
                </div>
                <!-- //.testimonial-info -->
              </div>
              <!-- //.testimonial-item -->
            </div>
            <!-- //.col-md-4 -->

            <div class="col-md-4">
              <div class="testimonial-item not-right-column">
                <div class="testimonial-content">
                  <p class="testimonial-title">Lorem Ipsum Title</p>

                  <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                  </blockquote>
                </div>
                <!-- //.testimonial-content -->

                <div class="testimonial-info clearfix">
                  <img width="100" src="assets/img/testimonial-image-5.jpg" alt="" class="img-circle img-thumbnail"/>

                  <p class="testimonial-author">
                    @Jane Doe, Jakarta
                    <br>
                    <em>Creative Director at Apple</em>
                  </p>
                </div>
                <!-- //.testimonial-info -->
              </div>
              <!-- //.testimonial-item -->
            </div>
            <!-- //.col-md-4 -->

            <div class="col-md-4">
              <div class="testimonial-item">
                <div class="testimonial-content">
                  <p class="testimonial-title">Lorem Ipsum Title</p>

                  <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                  </blockquote>
                </div>
                <!-- //.testimonial-content -->

                <div class="testimonial-info clearfix">

                  <%= image_tag "testimonial-image-6.jpg", width: 100, class: "img-circle img-thumbnail" %>
                  <p class="testimonial-author">
                    @Jane Doe, Jakarta
                    <br>
                    <em>Managet at Microsoft</em>
                  </p>
                </div>
                <!-- //.testimonial-info -->
              </div>
              <!-- //.testimonial-item -->
            </div>
            <!-- //.col-md-4 -->
          </div>
          <!-- //.row -->
        </div>
        <!-- //.item -->
      </div>
      <!-- //.owl-carousel -->
    </div>
    <!-- //.section-content -->
  </div>
  <!-- //.section-inner -->
</section>
<!-- //End Testimonials Section -->

