<footer class="footer">

  <!-- Begin Footer Section -->
  <section id="footer">
    <div class="container">    
      <div class="row">
        <div class="col-sm-4 col-md-4 footer-column not-right-column">
          <div class="footer-text">
            <h4>Get In Touch</h4>
                            
            <p>We care your experience</p>
                            
            <ul class="icon-list list-unstyled">
              <li>
                <i class="fa fa-phone"></i> +61 425-600-922
              </li>
                                
              <li>
                <i class="fa fa-envelope-o"></i> customer@kiwii.com.au
              </li>
                                
              <li>
                <i class="fa fa-map-marker"></i> 12/10-12 Grantham St. Burwood 2134 NSW
              </li>

            </ul>
                            
          </div>
          <!-- //.footer-text -->
        </div>
        <!-- //.footer-column -->

        <div class="col-sm-4 col-md-4 footer-column not-right-column">
          <div class="footer-text">
            <h4>About Us</h4>
                            
            <p>
              Kiwii information is an innovative companny. Our talented and experienced team members get involved in a lot of Asian and North American famous open-source projects.
              We address ourself to adopt leading edge technologies and concepts.
            </br>
            We believe that technology will bring a significant success to our customers.
            </p>
          </div>
          <!-- //.footer-text -->
        </div>
        <!-- //.footer-column -->
        
        
        <div class="col-sm-4 col-md-4 footer-column not-right-column">
          <div class="footer-text">
            <h4>Working Time</h4>
            <ul>
              <li>Monday to Friday 9 AM - 6 PM</li>
              <li>Satuday 9 AM - 12 PM</li>
              <li>Sunday Not Working</li>
            </ul>
          </div>
          <!-- //.footer-text -->
        </div>
      <!-- //.row -->
    </div>
    <!-- //.container -->
  </section>
  <!-- //End Footer Section -->

  <!-- Begin Copyright -->
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>Copyright © 2015 <a href="#">Kiwii Information.</a></p>
        </div>
        <!-- //.col-md-12 -->
      </div>
      <!-- //.row -->
    </div>
    <!-- //.container -->
  </div>
  <!-- //End Copyright -->
</footer>