<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Kiwii Information</title>
    <meta name="description" content="">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <%= stylesheet_link_tag :application, :cache => true %>
    <%= javascript_include_tag :application, :cache => true %>
    
    <!--<link href="assets/css/component/colors/blue.css" rel="stylesheet" type="text/css">-->
    
    <!--<link href="assets/css/colors/blue.css" rel="stylesheet" type="text/css">-->
    
    <!-- Modernizr JS for IE9 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/plugins/modernizr.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="51">

<%= yield %>

<%= render partial: 'layouts/footer' %>

</body>
</html>
